<h2 class="ui center aligned icon header">
  <i class="circular orange users icon"></i>
  Let's Chat
</h2>
<div class="ui two column grid">
  <%= render 'chatrooms/chats_list' %>
  <%= render 'chatrooms/online_users_list' %>
</div>